@model IEnumerable<W_Dev.Areas.Seguranca.Models.UsuarioDados>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table-md-9" id="tabelaInscritos">
            <tr class="tabelaInscritos">
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
            </tr>
    
        @foreach (var item in Model) {
            <tr class="tabelaInscritos">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
            </tr>
        }
    </table>
</body>
</html>
