@model W_Dev.Areas.Inscricoes.Models.Inscricao

@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/LayoutAluno.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <style>
        body{
            text-align: left;
        }
    </style>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>  Eventos disponíveis para inscrição</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.InscricaoId)
    
            <div class="form-group">
                @Html.LabelFor(model => model.UsuarioDadosId, "UsuarioDadosId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.UsuarioDadosId, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EventoId, "EventoId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.EventoId, "", new { @class = "text-danger" })
                    <input type="submit" value="Inscrever-se" class="btn btn-info" />
                </div>

            </div>
        </div>
    }
</body>
</html>
