@model IEnumerable<W_Dev.Areas.Eventos.Models.Evento>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/LayoutAluno.cshtml";
}

<section id="conteudo">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <!--<th>
                Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                Html.DisplayNameFor(model => model.Banner)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            DateTime MyDate1 = item.DataInicial;
            DateTime MyDate2 = item.DataFinal;
            string Date1 = MyDate1.ToString("d");
            string Date2 = MyDate2.ToString("d");

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instagram)
                </td>
                <!--<td>
                    Html.DisplayFor(modelItem => item.Logo)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.Banner)
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.Dias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Date1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Date2)
                </td>
                <td>
                    @Html.ActionLink("Inscrever", "Insert", new { eventoid = item.EventoId }) |
                </td>
            </tr>
        }

    </table>
</section>
