@model W_Dev.Areas.Seguranca.Models.UsuarioDados
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um NOVO USUÁRIO";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Registro de um NOVO USUÁRIO
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @if (ViewData.ModelState.Keys.Any(
                k => ViewData.ModelState[k].Errors.Count() > 0))
                {
                    <div class="alert alert-danger alert-dismissable">
                        @Html.ValidationSummary(false,
                        "Verifique os seguintes erros:")

                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.Nome, htmlAttributes:
                    new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Usuario.Nome,
                        new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Usuario.Nome, "",
                        new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.Email, htmlAttributes:
                    new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Usuario.Email,
                        new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Usuario.Email, "",
                        new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.Senha, htmlAttributes:
                    new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Usuario.Senha,
                        new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Usuario.Senha, "",
                        new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Matricula, htmlAttributes:
                    new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Matricula,
                        new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Matricula, "",
                        new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CPF, htmlAttributes:
                    new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CPF,
                        new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPF, "",
                        new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar Usuário"
                       class="btn btn-danger" />

                @Html.ActionLink("Retornar para a listagem de USUÁRIOS", "Index",
                null, new { @class = "btn btn-warning" })
            </div>
            <br /> <br />
        </div>
}
@section ScriptPage {
    <script type="text/javascript">
$(document).ready(function () {
$('li').removeClass("active");
$('#liUsuarios').addClass("active");
});
    </script>
}
